@import "../prometheus/current/theme/waybar.css";

/* --- Global Styles --- */
* {
  font-family:
    "CaskaydiaCove Nerd Font", "SF Pro Text", "Inter", "Segoe UI", sans-serif;
  font-size: 13px;
  min-height: 0;
  padding: 0;
}

/* --- Container --- */
#waybar {
  background: transparent;
  color: @foreground;
  margin: 0;
  font-weight: 500;
}

/* --- Common module block --- */
#workspaces,
#privacy {
  background-color: @background;
  color: @foreground;
  padding: 0.3rem 0.7rem;
  margin: 5px 2px;
  border-radius: 6px;
  border: solid 0.5px @foreground;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#workspaces {
  border: none;
}

#clock {
  background-color: @background;
  color: @foreground;
  padding: 0.3rem 0.7rem;
  margin: 5px 2px;
  border-radius: 6px;
  border: solid 0.5px @foreground;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#bluetooth,
#pulseaudio,
#cpu,
#backlight,
#network,
#custom-notification,
#battery {
  background-color: @background;
  color: @foreground;
  padding: 0.3rem 0.7rem;
  margin: 5px 0;
  border-radius: 0;
  box-shadow: none;
  min-width: 0;
  color: @foreground;
  border-top: solid 0.5px @foreground;
  border-bottom: solid 0.5px @foreground;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

#bluetooth {
  margin-left: 2px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom: solid 0.5px @foreground-muted;
  border-left: solid 0.5px @foreground-muted;
  border-top: solid 0.5px @foreground-muted;
}

#cpu {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 7px;
  border-bottom: solid 0.5px @foreground-muted;
  border-right: solid 0.5px @foreground-muted;
  border-top: solid 0.5px @foreground-muted;
}

#workspaces {
  padding: 2px;
  margin-left: 7px;
  margin-right: 5px;
}
#cpu:hover,
#clock:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover,
#network:hover,
#custom-lock:hover,
#custom-notification:hover,
#battery:hover {
  background-color: @background;
}

/* --- Workspaces --- */
#workspaces button {
  color: @foreground;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  background: transparent;
  border: none;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: @foreground;
  background-color: @background;
  box-shadow: inset 0 0 0 1px @foreground;
}

#workspaces button:hover {
  color: @foreground;
  background: @background;
}

/* --- Special modules --- */
#network.disconnected {
  color: #bf616a;
}
#battery {
  color: #a3be8c;
}
#battery.warning:not(.charging) {
  color: #ebcb8b;
}
#bluetooth.on,
#bluetooth.connected {
  color: @foreground;
}

/* --- Tooltip --- */
tooltip {
  background-color: @background;
  color: @foreground;
  padding: 5px 12px;
  border-radius: 6px;
  border: 1px solid @foreground;
  box-shadow: 0 4px 12px @foreground;
  font-size: 12px;
}
